.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

body,
html,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  overflow: hidden;
}

#app h1 {
  --fontSize: 50px;
  --lineHeight: 50px;
  width: auto;
  height: calc(1 * var(--lineHeight));
  line-height: var(--lineHeight);
  margin: calc(25vh - var(--lineHeight)) auto 0;
  text-align: center;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--fontSize);
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

#app h4 {
  --fontSize: 20px;
  --lineHeight: 20px;
  width: auto;
  height: calc(1 * var(--lineHeight));
  line-height: var(--lineHeight);
  margin: calc(25vh - var(--lineHeight)) auto 0;
  text-align: center;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--fontSize);
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

#app canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0px;
}